@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
body{
    font-family: 'Fredoka', sans-serif;
    background-color: #041562;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    color: white;
    font-size: 30px;
}
.subtitulo{
    color: white;
    font-size: 24px;
}

.tarjeta-de-mokepon {
    width: 100px;
    height: 100px;
    background-color: #11468f;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

input {
    display: none;
}

#boton-mascota {
    background-color: green;
    width: 100px; /* LARGO */
    height: 50px; /* ALTO */
    border: 10px solid;
    padding: 5px;

}